<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
	</system.web>
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxUrl="10999" maxQueryString="2097151" />
			</requestFiltering>
		</security>
		<rewrite>
		   <rules>
				<rule name="DynamicContent">
					 <conditions>
						  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
					 </conditions>
					 <action type="Rewrite" url="index.html"/>
				</rule>
		   </rules>
		</rewrite>
   </system.webServer>
</configuration>