[mysqld]
ssl_ca=/etc/mysql/certs/ca/ca-certificate.pem
ssl_cert=/etc/mysql/certs/db03-ces.azores.gov.pt/certs/mysql-03.crt
ssl_key=/etc/mysql/certs/db03-ces.azores.gov.pt/certs/mysql-03.key
require_secure_transport=ON
lower_case_table_names = 1
server-id = 3
port = 3306

binlog_format = ROW

gtid_mode=ON
enforce-gtid-consistency=true

log-slave-updates
log_bin = mysql-bin

default_storage_engine = InnoDB

# replication

report-host = db03-ces.azores.gov.pt
slave_net_timeout = 60

skip-slave-start
read_only

transaction_isolation = 'READ-COMMITTED'

binlog_checksum = NONE
relay_log_info_repository = TABLE
transaction_write_set_extraction = XXHASH64

auto_increment_increment = 1
auto_increment_offset = 2

binlog_transaction_dependency_tracking = WRITESET
slave_parallel_type = LOGICAL_CLOCK
slave_preserve_commit_order = ON

default_authentication_plugin=mysql_native_password

log-bin=/etc/mysql/logs/mysql-bin.log
general-log=/etc/mysql/logs/mysql.log
log-error=/etc/mysql/logs/mysql-error.log
slow-query-log=/etc/mysql/logs/mysql-slowquery.log